/* my added style */
/* style.css */
.onboarding{
    text-align: center;
    padding: 20px;
}

.Onboarding-logo button{
    background-color: #0078d4;
    color: white;
    /* padding: 10px 20px; */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

/* .dashboard ul li { */
.Onboarding-logo ul li {
    list-style: none;
    padding: 10px;
}

/* .Onboarding img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
} */

.social-share a {
    margin: 10px;
    text-decoration: none;
    color: #0078d4;
}

.social-share img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* others */

*{
    background-color: blue ;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1 px solid red;
}

.Onboarding-logo {
    display: flex;
    align-items: center;
}

/* .logo-img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
} */

.Onboarding-logo img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.Onboarding-logo h1 {
    margin-left: 10px;
    line-height: 0.5; /* 0.8 */
}

.Onboarding-logo h1 span {
    color: #ffcc00;
    font-size: 17px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

nav {
    background-color: #3c3535;
    color: #fff;
    padding: 15px; /* 10px */
    display: flex;
    justify-content: space-between; /* justify content work together with display flex/grid and align-items */
    align-items: center; /* justify content work together with display flex/grid and align-items */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.onboarding-logo nav button {
    background-color: #ffcc00;
    color: #3c3535;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.onboarding-logo nav button:hover {
    background-color: #ffcc00;
    color: #000;
    /* color: #000000; */
}

.Onboarding-logo button:hover {
    background-color: #ffcc00;
    color: black;
}

/* .hero-section .onboarding-logo { */
/* .hero-section {
    background-image:
        linear-gradient(rgba(33, 33, 29, 0.196)), */

        /* url('https://plus.unsplash.com/premium_photo-1661883237884-263e8de8869b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D'); */
        /* url('https://th.bing.com/th/id/OIP.5Buzp06G6XQJ13CPUl6nRwHaE8?w=137&h=108&c=7&qlt=90&bgcl=dcbfa7&r=0&o=6&dpr=1.5&pid=13.1'); */
        
        /* url('/src/Assets/Dashboard-Background-Hero-FitApp-Image.png'); */
    /* background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffcc00;
    text-align: center;
} */

.hero-section h1 {
    font-size: 36px;
    /* color: white; */
    color: #ffcc00;
}

section h1 {
    font-size: 30px;
    color: white;
}

section p {
    font-size: 20px;
    max-width: 600px;
    text-align: center;
}

section button {
    background-color: #ffcc00;
    color: #3c3535;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.menu-section {
    background-color: #3c3535;
    color: #fff;
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    background-color: #fff;
    color: #3c3535;
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 230px;
    border-radius: 10px;
}

.menu-item img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-item h2 {
    font-size: 20px;
    color: #ffcc00;
}

.menu-item p {
    font-size: 15px;
    color: white;
    text-align: start;
    /* text-align: center; */
}

.menu-item button {
    background-color: #ffcc00;
    color: #3c3535;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.separated-content {
    background-color: #3c3535;
    color: #fff;
    /* color: aquamarine; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

p{
    color: brown;
    /* color: rgba(brown, green, blue, gold); */
}

.hannah {
    color: brown;
}

#hannah {
    color: beige;
}

.span {
    color: gold;
}

span {
    color: gold;
}