/* {
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;

    /* margin: 0;
    padding: 0; */
/* } */

/* .flex-container div{
    background-color: brown;
    border: 4px solid black; 
    height: 100px;
    flex: 1;

    /* margin: 0;
    padding: 0; */
/* } */ */

/* .flex-container .two div{
    background-color: brown;
    border: 4px solid black; 
    height: 100px;
    margin: 2px;
    flex: 1; */

    /* margin: 0;
    padding: 0; */
/* } */

/* .flex-container .two {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px;
    justify-content: space-around;
    row-gap: 5px;
    column-gap: 5px; */
    /* flex-direction: 4px; */
    /* margin: 2px; */
    /* padding: 0; */
/* } */

/* .section2 {
    display: flex;
    height: 200px;
} */

/* .section2 div{
    background-color: brown;
    border: 4px solid black; 
    height: 90%;
    flex: 1;
} */

/* .section2 .right{
    display: flex;
    flex-direction: column;
} */

/* img{
    height: 100%;
    width: 50%;
    /* margin: 0;
    padding: 0; */
/* } */ */

/* img{
    height: 100%;
    width: 50%; */
    /* margin: 0;
    padding: 0; */
/* } */
