*{
    background-color: plum;
    color: black;
    text-align: justify;
    font: 20;
    font-style: normal;
    line-height: 1.6;
    font-family: Garamond,Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    list-style-type: bullet;
    list-style-type: disc; /* Default bullet style: disc, circle, square */
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--Garamond);
    font-size: var(--base-size);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: justify;
    list-style: outside;
    list-style-type: disc; /* Default bullet style: disc, circle, square */
    padding-left: 0%;    /* Indent bullets */
    position: relative;
    margin-bottom: 2px;
    list-style-position: inside;
}

form{
    padding: 20px;
    margin: 5px;
    list-style: outside;
    list-style-position: inside;
    list-style-type: disc;
}

h1, h2, h5, h6 {
    text-align: center;
    font-family: Garamond,Georgia, 'Times New Roman', 'Arial-Black', 'Gadget', Times, serif, Helvetica, sans-serif;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;

}

h3 {
    text-align: left;
    font-family: Garamond,Georgia, 'Times New Roman', 'Arial-Black', 'Gadget', Times, serif, Helvetica, sans-serif;
    margin: 60px;
    margin-top: 5.75rem;
    margin-bottom: 100;
    
} 

h4 {
    text-align: center;
    font-family: Garamond,Georgia, 'Times New Roman', 'Arial-Black', 'Gadget', Times, serif, Helvetica, sans-serif;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;

}
    
p{
    margin: 20px;
    padding: 20px;
    text-align: justify;

    /* margin: 1rem 1.25rem;
    padding: 0.5rem;
    text-align: justify; */

}

ol{
    padding: 2%;
    margin: 1%;
    padding-left: 20px;    /* Indent bullets */
    list-style-type: bullet;
    list-style-type: disc; /* Default bullet style: disc, circle, square* /

    /* padding: 0;
    margin: 0;
    list-style: none; */

}

/* li{
    list-style: outside;
    display: flex;
    justify-content: center;
} */

a{
    list-style: outside;
    list-style-position: outside;
    list-style-type: disc;
    display: flex;
    text-decoration-style: none; color: yellow;
    justify-content: justify;
    margin: 6%;
}

input {
    max-width: 600px;
    width: 10%;
    padding: 5px;
    border: 5px solid #ccc;
    border-radius: 10px;
}

label {
    position: absolute;
    top: auto;
    transition: all 0.3s;
}

.nav-img{
    /* Add your profile image styles here */
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    background-color: #333;
}


.left-img{
    transition: transform all 0.2s ease;
    /* vertical-align: middle; */
    /* border: none; */
    overflow: hidden;
    position: absolute;
    left: 50px;
    top: 80px; /* center: 50% */
    padding: 5px;
    margin: 2%;
    text-align: justify;
    /*padding-left: 2px; */  /* Indent bullets */
}


/* Class selector: applies only to elements with class="profile-description" */
.profile-description {
    /* color: #555; */
    color: #000ff0; /* vanillandblue, #000090 */
    font-weight: bold;
    font-size: 18px;
    max-width: 500px;
    /* margin: 0 auto; */
    margin: 0;
    text-align: justify;
}

.nav-link, nav {
    /* Add your Navigation link styles here */
    /* color: #555; */
    color: #333;
    text-decoration: none;
    /* text-align: justify; */
    /* text-spacing-trim: normal; */
    /* align-items: justify; */
    /* margin-left: 50; */
    position:var(--base-size);
    left: 10px;
    bottom: 10px;
}

.about-link {
    font-weight: bold;
    font-size: 18px;
    /* max-width: 700px; */
    margin: -50%;
    border: 500%; /* none */
}

.icon-user {
    /* Add your icon styles here */
    margin-left: 5px;
}


/* Compact internet/social icon with right-aligned link */
/* .icon-link {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    right: 2px;
    top: 2%;
    color: #fff;
}

.icon-link img,
.icon-link .icon {
    width: 8px;
    height: 8px;
    max-width: 8px;
    max-height: 8px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}

.icon-link a,
.icon-link > a {
    margin-left: 2px;
    color: #fff;
    text-decoration: none;
    font-size: 2px;
    line-height: 1;
} */