*{
    background-color: plum;
    color: black;
    text-align: justify;
    font: 20;
    font-style: normal;
    line-height: 1.6;
    font-family: Garamond,Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    list-style-type: bullet;
    list-style-type: disc; /* Default bullet style: disc, circle, square */
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--Garamond);
    font-size: var(--base-size);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: justify;
    list-style: outside;
    list-style-type: disc; /* Default bullet style: disc, circle, square */
    padding-left: 0%;    /* Indent bullets */
    position: relative;
    margin-bottom: 8px;
    list-style-position: outside;
}

form{
    padding: 20px;
    margin: 20px;
    list-style: outside;
    list-style-position: outside;
    list-style-type: disc;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Garamond,Georgia, 'Times New Roman', 'Arial-Black', 'Gadget', Times, serif, Helvetica, sans-serif;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;

}
    
p{
    margin: 10px;
    padding: 5px;
    text-align: justify;

    /* margin: 1rem 1.25rem;
    padding: 0.5rem;
    text-align: justify; */

}

ol{
    padding: 2%;
    margin: 1%;
    padding-left: 20px;    /* Indent bullets */
    list-style-type: bullet;
    list-style-type: disc; /* Default bullet style: disc, circle, square* /

    /* padding: 0;
    margin: 0;
    list-style: none; */

}

/* li{
    list-style: outside;
    display: flex;
    justify-content: center;
} */

a{
    list-style: outside;
    list-style-position: outside;
    list-style-type: disc;
    display: flex;
    text-decoration-style: none; color: yellow;
    justify-content: justify;
}

input {
    max-width: 600px;
    width: 20%;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 10px;
}

label {
    position: absolute;
    top: auto;
    transition: all 0.3s;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1%;
    padding: 2%;
}

nav {
    background-color: #333;
    padding: 0;
    align-items: center;
    margin-right: 0;
    transition: transform 0.2s ease;
    vertical-align: middle;
    border: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

/* Compact internet/social icon with right-aligned link */
/* .icon-link {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    right: 2px;
    top: 2%;
    color: #fff;
}

.icon-link img,
.icon-link .icon {
    width: 8px;
    height: 8px;
    max-width: 8px;
    max-height: 8px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}

.icon-link a,
.icon-link > a {
    margin-left: 2px;
    color: #fff;
    text-decoration: none;
    font-size: 2px;
    line-height: 1;
} */