*{
    background-color: plum;
    color: black;
    text-align: justify;
    /* text-justify: auto; */
    font: 20;
    font-style: normal;
    line-height: 1.6;
    font-family: Garamond,Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    list-style-type: bullet;
    list-style-type: disc; /* Default bullet style: disc, circle, square */
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--Garamond);
    font-size: var(--base-size);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: justify;
    list-style: outside;
    list-style-type: disc; /* Default bullet style: disc, circle, square */
    padding-left: 0%;    /* Indent bullets */
    position: relative;
    margin-bottom: 8px;
    list-style-position: outside;
}

form{
    padding: 20px;
    margin: 20px;
    /* list-style: none; */
    list-style: outside;
    list-style-position: outside;
    list-style-type: disc;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Garamond,Georgia, 'Times New Roman', 'Arial-Black', 'Gadget', Times, serif, Helvetica, sans-serif;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;

}
    
p{
    margin: 10px;
    padding: 5px;
    text-align: justify;

    /* margin: 1rem 1.25rem;
    padding: 0.5rem;
    text-align: justify; */

}

ol{
    padding: 2%;
    margin: 1%;
    padding-left: 20px;    /* Indent bullets */
    /* list-style: none; */
    list-style-type: bullet;
    list-style-type: disc; /* Default bullet style: disc, circle, square* /
    /* list-style-type: square; */

    /* padding: 0;
    margin: 0;
    list-style: none; */

}

/* li{
    list-style: outside;
    display: flex;
    justify-content: center;
} */

a{
    list-style: outside;
    list-style-position: outside;
    list-style-type: disc;
    display: flex;
    text-decoration-style: none; color: yellow;
    justify-content: justify;
}

input {
    max-width: 600px;
    width: 10%;
    padding: 5px;
    border: 5px solid #ccc;
    border-radius: 10px;
    /* outline: red; */
}

label {
    position: absolute;
    top: auto;
    /* list-style: none; */
    transition: all 0.3s;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1%;
    padding: 2%;
}