* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #3c3535;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.logo h2 {
    margin-left: 10px;
    line-height: 0.5;
}

.logo h2 span {
    color: #ffcc00;
    font-size: 15px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

nav button {
    background-color: #ffcc00;
    color: #3c3535;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #ffcc00;
    color: #fff;
}

.hero-section {
    background-image:
        linear-gradient(rgba(20, 19, 19, 0.683)),
        url('https://plus.unsplash.com/premium_photo-1661883237884-263e8de8869b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D');

    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffcc00;
}

section h2 {
    font-size: 30px;
    color: white;
}

section p {
    font-size: 20px;
    max-width: 600px;
    text-align: center;
}

section button {
    background-color: #ffcc00;
    color: #3c3535;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.menu-section {
    background-color: #3c3535;
    color: #fff;
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    background-color: #fff;
    color: #3c3535;
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 230px;
    border-radius: 10px;
}

.menu-item img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-item h2 {
    font-size: 20px;
    color: #ffcc00;
}

.menu-item p {
    font-size: 15px;
    color: white;
    text-align: start;
}

.menu-item button {
    background-color: #ffcc00;
    color: #3c3535;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.separated-content {
    background-color: #3c3535;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}